body{
    margin: 0;
    padding: 0;
    background-image: url('../img/menu/main.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.menu{
    display: flex;
    background-image: url('../img/menu/panel.png'); 
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30%;
    position: absolute;
    left: 70%;
    top: 0;
    box-shadow: -20px 0px 20px rgba(0, 0, 0, 0.5);
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu button{
    font-family: "gotic"; 
    margin: 20px;
    width: 22vw;
    height: 4vw;
    background-image: url('../img/menu/button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    letter-spacing: 0.5vw;
    color: #29231E;
}

.menu button:hover{
    background-image: url('../img/menu/button-select.png');
    color: #29231E;
}

#pendulum-text {
    width: 50%;
    animation: swing 15s infinite ease-in-out alternate;
}

@keyframes swing {
    0% {
        transform: translateY(-40%) translateX(-11%) rotate(3deg);
    }
    50% {
        transform: translateY(-40%) translateX(-5%) rotate(-3deg);
    }
    100% {
        transform: translateY(-40%) translateX(-11%) rotate(3deg);
    }
}
