*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

/* .about{
    background: lightgrey;
    height: 15vh;
    width: 26%;
    position: relative;
} */

.about p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "gotic";
    font-size: 3vw;
}

.act{
    background: rgb(91, 156, 58);
    height: 15vh;
    width: 74%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.act button{
    font-family: "gotic"; 
    margin: 1vw;
    width: 20vw;
    height: 4vw;
    background-image: url('../img/menu/button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    letter-spacing: 0.5vw;
    color: #46512F;
}

.act button:hover{
    background-image: url('../img/menu/button-select.png');
    color: #29231E;
}

.symbol{
    background: lightblue;
    height: 85vh;
    width: 26%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flag{
    position: relative;
    height: 150px;
    width: 150px;
}

.emblem{
    position: relative;
    height: 100px;
    width: 100px;
}

/* .artefact{
    position: relative;
    height: 100px;
    width: 100px;
} */

.content{
    background: rgb(79, 105, 130);
    height: 85vh;
    width: 74%;
    position: absolute;
    right: 0;
    top: 15%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: "gotic";
}
