
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/menu/sky.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#tree{
    position: absolute ;
    height: 100vh;
    left: 0;
    z-index: 1;
}

#human{
    position: absolute ;
    height: 40vh;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.about{
    position: absolute;
    top: 0;
    left: 0;
    width: 52vh;
    height: 25vh;

    position: absolute;
    font-family: "gotic";
    white-space: normal;
    font-size: 5vh;
    
    display: flex;
    justify-content: left;
    align-items: center;
    
    background-image: url("../img/menu/paper.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;

    z-index: 3;
}

#map{
    position: absolute;
    top: 25vh;
    left: 0;
    width: 31.8vh;
    height: 12vh;

    font-family: "gotic";
    font-size: 4vh;
    text-align: left;
    box-sizing: border-box;

    background-image: url('../img/menu/paper2.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;

    z-index: 3;
}

#map:hover{
    color: #414813;
}

.symbol{
    position: absolute;
    width: 35vw;
    height: 25vh;
    bottom: 0;
    right: 0;

    align-items: center;

    display: flex;
    justify-content: space-between;

    z-index: 4;
}

.flag{
    margin-left: 10%;
    width: 30%;
    height: auto;
}

.emblem{
    margin-right: 10%;
    width: 30%;
    height: auto;
}

.content{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    width: 70vw;
    height: 75vh;
    
    position: absolute;
    
    box-sizing: border-box;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: "gotic";
}
