body{
    margin: 0;
    padding: 0;
}

.words{
    background: lightgray;
    height: 73vh;
    width: 21%;
}

.act{
    position: relative;
    height: 27vh;
    width: 21%;
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item{
    height: 50px;
    width: 50px;
    position: absolute;
    margin: 10px;
}

.ground{
    background: lightslategray;
    position: absolute;
    height: 100vh;
    width: 79%;
    right: 0;
    top: 0;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.act button{
    font-family: "gotic"; 
    margin-top: 2vw;
    width: 20vw;
    height: 4vw;
    background-image: url('../img/menu/button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    letter-spacing: 0.5vw;
    color: #46512F;
}

.act button:hover{
    background-image: url('../img/menu/button-select.png');
    color: #29231E;
}

#picture{
    width: 100%;
    height: 100%;
    z-index: 2;
}

#things{
    width: 100%;
    height: 100%;
    z-index: 3;
}
