body{
    margin: 0;
    padding: 0;
}

.words{
    height: 73vh;
    width: 21%;
    background: lightgrey;
}

.ground{
    height: 100vh;
    width: 79%;
    background: grey;
    position: absolute;
    right: 0;
}

.ground item{
    position: relative;
    height: 50px;
    width: 50px;
}

.act{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 27vh;
    width: 21%;
    background: rgb(70, 66, 66);
    position: relative;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.act button{
    margin: 10px;
    width: 100%
}
