body{
    margin: 0;
    padding: 0;
}

.map{
    height: 100vh;
    width: 73%;
    background: lightgray;
    position: relative;
}

.act{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: lightslategray;
    height: 100vh;
    width: 27%;
    left: 73%;
    top:0;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.act button{
    margin: 10px;
    width: 100%
}
