body{
    margin: 0;
    padding: 0;
    background-image: url("../img/menu/back_map.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.map{
    height: 80vh;
    width: 50%;
    left: 20%;
    top: 10%;
    position: absolute;
}

.act{
    position: absolute;
    height: 100vh;
    width: 30%;
    left: 70%;
    top:0;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start{
    position: absolute;
    width: 90%;
    height: 25%;
    max-width: 80%;
    bottom: 7%;
    background-image: url('../img/menu/begin.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    outline: none;
    background-color: transparent;
}

#start:hover{
    background-image: url('../img/menu/begin-select.png');
}

#interactive-map{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
        
}

#border{
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;   
}

.usual{
    fill: rgba(0, 0, 0, 0.0);
    transition: fill 0.2s;
}

.hovered{
    stroke: yellow;
    stroke-width: 10;
    fill: rgba(255, 255, 0, 0.5) !important;
}

.done{
    fill: rgba(139, 69, 19, 0.5);
    transition: fill 0.2s;
}

.current{
    stroke: yellow;
    stroke-width: 10;
    animation: blink 2s linear infinite alternate;
}

@keyframes blink {
    0% {
        fill: rgba(0, 0, 0, 0.0);
    }
    100% {
        fill: yellow;
    }
}

#book{
    position:absolute;
    transform: translateY(-2%);
    z-index: 2;
    max-width: 100%;
    max-height: 60%;
    top: 0;
    right: 0;
}

#book-picture{
    max-width: 100%;
    max-height: 60%;
    z-index: 1;
    position:absolute;
    top: 0%;
    top: 0;
    right: 0;
}

#shadow{
    fill: rgba(0, 0, 0, 0);;
}

#shadow:hover{
    stroke: yellow;
    stroke-width: 20;
}
