body{
    margin: 0;
    padding: 0;
}

.map{
    height: 100vh;
    width: 73%;
    background: lightgray;
    position: relative;
}

.act{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background: lightslategray;
    height: 100vh;
    width: 27%;
    left: 73%;
    top:0;
}

.game{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 7%;


}


.book{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 7%;


}

.menu{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 7%;

}

.settings{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 7%;
    width: 100px;

}
