body{
    margin: 0;
    padding: 0;
}

.content{
    height: 85vh;
    width: 100%;
    background: gray;
    position: static;
}

.act{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    background: lightblue;
    position: relative;
}

.act button{
    font-family: "gotic"; 
    margin: 6vw;
    width: 20vw;
    height: 4vw;
    background-image: url('../img/menu/button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    letter-spacing: 0.5vw;
    color: #46512F;
}

.act button:hover{
    background-image: url('../img/menu/button-select.png');
    color: #29231E;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
