body{
    margin: 0;
    padding: 0;
}

.content{
    height: 85vh;
    width: 100%;
    background: gray;
    position: relative;
    display: flex;
}

.act{
    display: flex;
/*     flex-direction: column;
    justify-content: center; */
    height: 15vh;
    background: lightblue;
    position: relative;
}

.act button{
    font-family: "gotic"; 
/*     margin: 6vw;
    width: 20vw;
    height: 4vw; */
    background-image: url('../img/menu/button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    letter-spacing: 0.5vw;
    color: #46512F;
}

.act button:hover{
    background-image: url('../img/menu/button-select.png');
    color: #29231E;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{

    height: 85vh;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0%;
    box-sizing: border-box;
    padding: 15%;
    
}

.right{

    height: 85vh;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0%;
    box-sizing: border-box;
    padding: 15%;
}

.middle{

    height: 85vh;
    width: 70%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    padding: 15%;
}

.text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: "gotic";
}

.image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: transparent;
    position: absolute;
    
}

.hidden{
    display: none;
}
