body{
    margin: 0;
    padding: 0;
}

.img_container{
    height: 100vh;
    width: 50%;
    background: grey;
}

.settings{
    height: 100vh;
    width: 50%;
    background: lightgray;
    position: absolute;
    left: 50%;
    top: 0;
}

.sound{
    height: 20vh;
    width: 100%;
    position: absolute;
    background: lightgreen;
    top: 20%;
}

.label_sound{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "gotic";
    height: 10vh;
    width: 30%;
    background: gray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
    text-align: center;
}

.volume{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    
}

.difficulty{
    height: 20vh;
    width: 100%;
    position: absolute;
    background: lightgreen;
    top: 50%;
}

.label_difficulty{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "gotic";
    height: 10vh;
    width: 30%;
    background: gray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
}

.hard{
    height: 12vh;
    width: 30%;
    background: green;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;

}

.act{
    height: 17vh;
    width: 50%;
    position: absolute;
    background: lightgreen;
    bottom: 0;
    right: 0;
}

.act button{
    font-family: "gotic"; 
    width: 20vw;
    height: 4vw;
    background-image: url('../img/menu/button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    letter-spacing: 0.5vw;
    color: #46512F;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 5%;
}

.act button:hover{
    background-image: url('../img/menu/button-select.png');
    color: #29231E;
}
