body{
    margin: 0;
    padding: 0;
}

.act{
    height: 15vh;
    background: grey;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.act button{
    font-family: "gotic"; 
    margin: 20px;
    width: 20vw;
    height: 4vw;
    background-image: url('../img/menu/button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    letter-spacing: 0.5vw;
    color: #46512F;
}

.act button:hover{
    background-image: url('../img/menu/button-select.png');
    color: #29231E;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: lightgray;
}

.task{
    margin: auto;
}

.answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 25vh;
    background: rgb(164, 155, 155);
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answers button{
    font-family: "gotic"; 
    margin: 2vw;
    width: 20vw;
    height: 4vw;
    background-image: url('../img/menu/button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    letter-spacing: 0.5vw;
    color: #46512F;
}

.answers button:hover{
    background-image: url('../img/menu/button-select.png');
    color: #29231E;
}
